<main class="app-container_home pt-5 pb-8">
    <!-- <div class="border-1 border-blue-400">
        <h1 class="text-5xl">e-Store: Your One-Stop Online Shop</h1>
    </div> -->
    <div class="grid h-full">
      <div class="col-12">
          <div class="grid nested-grid">
              <div class="col-9">
                  <div class="text-center p-3 border-round-xl h-full main-grid font-bold"></div>
              </div>
              <div class="col-3">
                  <div class="text-center p-3 border-round-xl h-full green-grid font-bold"></div>
              </div>
              <div class="col-6">
                  <div class="text-center p-3 border-round-xl h-full purple-grind font-bold"></div>
              </div>
              <div class="col-6">
                <div class="text-center p-3 border-round-xl h-full red-grid font-bold"></div>
            </div>
          </div>
      </div>
  </div>
</main>