<!-- productos.component.html -->
<div class="breadcrumbs">
  <!-- Migaja de pan aquí -->
</div>
<h1>Products</h1>

<div class="actions-panel">
  <button>Cambiar Presentación</button>
</div>
<app-single-product *ngIf="selectedProduct" [product]="selectedProduct"></app-single-product>
<div class="border-1 border-blue-400 products-container">
  <app-product-card *ngFor="let product of products" [product]="product" (click)="onProductClick(product)"></app-product-card>
</div>

<app-single-product *ngIf="selectedProduct" [product]="selectedProduct"></app-single-product>