@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

$colors: (
  primary: #55bbca,
  secondary: #AAD7D9,
  background: #FBF9F1,
  accent: #E5E1DA,
  text: #2F3E46,
  text-highlighted: #1B689F,
  blue-grid: #92C7CF,
  green-grid: #BFD8AF,
  purple-grid: #98A8F8,
  red-grid: #FF9494,
);

$header-font: 'Rubik Mono One', monospace;

$paragraph-font: 'Lato', sans-serif;
