@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'variables';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: map-get($colors, background );
  color: map-get($colors, text );
}

h1 {
  font-family: $header-font;
  font-size: 40px;
}

p, li, a {
  font-family: $paragraph-font;
  color: map-get($colors, text ) !important;
}
