<div class="flex justify-content-center">
  <p-overlayPanel #op>
    <div class="profile-card">
      <img class="w-15rem" src="../../../assets/profile.jpg" alt="profile-picture">
      <h3 class="text-center">Maicol Hernandez</h3>
      <p class="text-center text-gray-400">maykolandres4&#64;gmail.com</p>
      <div class="flex gap-1">
        <a href="https://github.com/mvykool" target="_blank" rel="noopener noreferrer" class="p-button custom-link font-bold no-underline text-white flex gap-2"><i class="pi pi-github"></i>Github</a>
        <a href="https://www.linkedin.com/in/maicolhernandez/" target="_blank" rel="noopener noreferrer" class="p-button font-bold no-underline text-white flex gap-2"><i class="pi pi-linkedin"></i>Linkedin</a>
      </div>
    </div>
  </p-overlayPanel>
    <p-avatar (click)="op.toggle($event)" image="../../../assets/profile.jpg" class="cursor-pointer mr-1 md:mr-4" shape="circle" />
</div>
