<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">
  </div>
  <div>
    <label for="price">Price</label>
    <input id="title" type="number" formControlName="price">
  </div>
  <div>
    <label for="category">Category</label>
    <input id="title" type="text" formControlName="category">
  </div>
  <div>
    <label for="description">Description</label>
    <input id="title" type="text" formControlName="description">
  </div>
  <div>
    <label for="image">Image URL</label>
    <input id="title" type="text" formControlName="image">
  </div>
  <button type="submit">{{editProduct ? 'Update' : 'Add'}}</button>
</form>