<div class="details-products_modal">
  <div class="bg-white flex gap-4 align-items-start details-products_modal">
    <img class="w-20rem h-25rem" src="{{product?.image}}" alt="{{ product?.title }}">
    <div class="flex flex-column gap-2 details-products_modal_text">
      <h2 class="m-0">{{ product?.title }}</h2>
      <p class="text-left">{{ product?.description }}</p>
      <div class="flex gap-2 align-items-center">
        <p class="font-semibold">Price: </p>
        <span class="font-semibold text-black"><span class="text-green-500">$</span> {{product?.price}}</span>
      </div>
    </div>
  </div>
</div>