<aside>
  <p-sidebar [(visible)]="sidebarVisible" styleClass="w-16rem">

      <ul class="flex flex-column px-5 gap-4 text-xl">
        <li class="flex align-items-center gap-3 cursor-pointer">
          <i [class]="iconMapping.home" class="text-xl"></i>
          <a 
            class="no-underline"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            ariaCurrentWhenActive="page"
            >Home</a>
        </li>
        <li class="flex gap-3 align-items-center cursor-pointer">
          <i [class]="iconMapping.products" class="text-xl"></i>
          <a
            class="no-underline"
            routerLink="/products"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            ariaCurrentWhenActive="page"
            >Products</a>
        </li>
        <li class="flex gap-3 align-items-center cursor-pointer">
          <i [class]="iconMapping.orders" class="text-xl"></i>
          <a 
            class="no-underline" 
            ariaCurrentWhenActive="page"
            >Orders</a>
        </li>
        <li class="flex gap-3 align-items-center cursor-pointer">
          <i [class]="iconMapping.promotion" class="text-xl"></i>
          <a 
            class="no-underline" 
            ariaCurrentWhenActive="page"
            >Discounts</a>
        </li>
        <li class="flex gap-3 align-items-center cursor-pointer">
          <i [class]="iconMapping.contact" class="text-xl"></i>
          <a 
            class="no-underline" 
            ariaCurrentWhenActive="page"
            >Contact</a>
        </li>
        <li class="flex gap-3 align-items-center cursor-pointer">
          <i [class]="iconMapping.settings" class="text-xl"></i>
          <a 
            class="no-underline" 
            ariaCurrentWhenActive="page"
            >Settings</a>
        </li>
      </ul>
    
    <div class="absolute left-0 bottom-0 text-center sidebar__footer">
      <h3>Powered by e-Store</h3>
    </div>
  </p-sidebar>
  <p-button class="sidebar-btn" [outlined]="true" severity="secondary" size="small" (click)="sidebarVisible = true" icon="pi pi-align-justify text-sm md:text-lg"></p-button>
</aside>