@import '../../../styles/variables';

.active {
  background-color: map-get($colors , secondary );
  color: white !important;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

a {
  padding: 0.2rem 0.3rem;
}

i {
  color: map-get($colors , primary );
}

.sidebar__footer {
  background-color: map-get($colors , accent );
  width: 100%;
}