<div class="w-full">
<p-dataView #dv [value]="products" [layout]="layout" [emptyMessage]="'loading..'">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            <button type="button" class="border-none bg-blue-500 hover:bg-blue-600 text-white border-round-md cursor-pointer px-2 md:px-4" (click)="onAdd()"  (keydown)="onAdd()" tabindex="0">Add Product</button>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="list" let-products>
        <div class="grid gap-2">
            <div class="col-12 gap-3 flex border-1 border-gray-100" *ngFor="let product of products; let first = first">
                    <img class="w-8rem md:w-10rem h-5rem sm:h-16rem xl:h-10rem shadow-1 block xl:block border-round m-2 cursor-pointer" (click)="onProductClick(product)" (keydown)="onProductClick(product)" tabindex="0" [src]="product.image" [alt]="product.title" />
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-2">
                        <div class=" flex flex-column align-items-center sm:align-items-start gap-3">
                            <h5 class="text-md md:text-2xl font-bold text-900 cursor-pointer hover:underline m-0" (click)="onProductClick(product)" (keydown)="onProductClick(product)" tabindex="0">{{ product.title }}</h5>
                            <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                    <span class="font-semibold">{{ product.category }}</span>
                                </span>
                            </div>
                        </div>

                        <div class="mr-2 sm:flex-column align-items-center justify-content-between flex h-full sm:align-items-end gap-3 sm:gap-2">
                            <span class="text-md md:text-2xl font-semibold">{{ '$' + product.price }}</span>
                            <div class="flex justify-content-end align-items-end gap-2">
                            <button type="button" class="border-none px-2 md:px-2 py-1 md:py-2 border-round-md bg-blue-400 hover:bg-blue-500 text-white cursor-pointer" (click)="onEdit(product)">Edit</button>
                            <button type="button" class="border-none px-2 md:px-2 py-1 md:py-2 border-round-md bg-red-400 hover:bg-red-500 text-white cursor-pointer " (click)="onDelete(product.id)" >delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ng-template>
    <ng-template let-product pTemplate="grid" let-products>
        <div class="grid grid-nogutter">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2" *ngFor="let product of products">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                            <span class="font-semibold">{{ product.category }}</span>
                        </span>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img class="w-8 shadow-2 border-round h-15rem" [src]="product.image" [alt]="product.name" />
                        <h5 class="text-md md:text-xl font-bold text-900 cursor-pointer hover:underline m-0" (click)="onProductClick(product)" (keydown)="onProductClick(product)" tabindex="0">{{ product.title }}</h5>
                    </div>
                    <div class="flex align-items-center justify-content-between">
                        <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                        <div class="flex justify-content-end align-items-end gap-2">
                            <button type="button" class="border-none px-2 md:px-2 py-1 md:py-2 border-round-md bg-blue-400 hover:bg-blue-500 text-white cursor-pointer" (click)="onEdit(product)">Edit</button>
                            <button type="button" class="border-none px-2 md:px-2 py-1 md:py-2 border-round-md bg-red-400 hover:bg-red-500 text-white cursor-pointer " (click)="onDelete(product.id)" >delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
</div>

<!--Dialog of details-->

<p-dialog header="Product Details" [(visible)]="details" [modal]="true" [responsive]="true">
    <app-single-product *ngIf="details" [product]="selectedProduct"></app-single-product>
</p-dialog>

<!-- add new product -->

<p-dialog header="Product Details" [(visible)]="visible" [modal]="true" [responsive]="true">
    <app-add-product
    [editProduct]="selectedProduct"
    (productAdded)="onProductAdded($event)"
    (productUpdated)="onProductUpdated($event)"
    *ngIf="visible"
  ></app-add-product>
</p-dialog>