<div class="w-full">
<p-dataView #dv [value]="products" [layout]="layout" [emptyMessage]="'loading..'">
    <ng-template pTemplate="header">
        <div class="flex justify-content-start">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="list" let-products>
        <div class="grid gap-2">
            <div class="col-12 gap-3 flex border-1 border-gray-100" *ngFor="let product of products; let first = first">
                    <img class="w-9 sm:w-16rem xl:w-10rem shadow-1 block xl:block border-round m-2" [src]="product.image" [alt]="product.title" />
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class=" flex flex-column align-items-center sm:align-items-start gap-3">
                            <h5 class="text-2xl font-bold text-900" (click)="onProductClick(product)" (keydown)="onProductClick(product)" tabindex="0">{{ product.title }}</h5>
                            <div class="flex gap-2">
                            <i class="pi pi-star-fill" style="color: #F9D949;"></i>
                            <span class="font-semibold text-black">{{product.rating.rate}}</span>
                            </div>
                            <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                    <span class="font-semibold">{{ product.category }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="mr-2 sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                            <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                        </div>
                    </div>
                </div>
            </div>
    </ng-template>
    <ng-template let-product pTemplate="grid" let-products>
        <div class="grid grid-nogutter">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2" *ngFor="let product of products">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                            <span class="font-semibold">{{ product.category }}</span>
                        </span>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img class="w-8 shadow-2 border-round h-15rem" [src]="product.image" [alt]="product.name" />
                        <h5 class="text-xl font-bold text-900">{{ product.title }}</h5>
                    </div>
                    <div class="flex align-items-center justify-content-between">
                        <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                        <div class="flex gap-2">
                        <i class="pi pi-star-fill" style="color: #F9D949;"></i>
                        <span class="font-semibold text-black">{{product.rating.rate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
</div>

<!--Dialog of details-->

<p-dialog header="Product Details" [(visible)]="visible" [modal]="true" [responsive]="true">
    <app-single-product *ngIf="visible" [product]="selectedProduct"></app-single-product>
</p-dialog>