<div class="">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img class="mx-4 cursor-pointer" src="https://primefaces.org/cdn/primeng/images/primeng.svg" alt="logo" />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-3">
        <i class="pi pi-bell" style="font-size: 2rem"></i>
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="cursor-pointer mr-4" shape="circle" size="large" />
      </div>
    </ng-template>
  </p-menubar>
</div>